name: Deep-Web-Links-2024

on:
  schedule:
    - cron: '0 */6 * * *'  # Runs every 6 hours

jobs:
  Deep-Websites-2024:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Update Deep-Websites-2024.txt
        run: |
              echo "$(date -u +'%Y-%m-%d %H:%M:%S') UTC - Update" >> Deep-Websites-2024.txt
          
      - name: Commit changes
        run: |
          git config --global user.email "KaiyaStorm4@gmail.com"
          git config --global user.name "k4torm"
          git add Deep-Websites-2024.txt
          git commit -m "Deep-Websites-2024.txt" || echo "No changes to commit"
          git push
